<%- include('includes/header', {tituloweb: 'Clinica'}); %>

    <!--Pa Arriba-->
		<div id="back-top">Ir a Arriba</div>
		<div class="main">
			<div class="div-content">  
				<div class="top_section">
					<div class="container_12">
						<div class="grid_12">
							<div class="clear"></div>
							<% if (mensaje.length !== 0) { %>
								<div class="row mb-2">
									<div class="col-lg-12">
										<div class="alert alert-<%= tipo %> alert-dismissible fade show" role="alert">
											<strong><%= mensaje %></strong>
											<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
										</div>
									</div>
								</div>
							<% } %>
						</div>
					</div>
				</div>
				
				<!--Header-->
				<%- include('includes/menu'); %>

				<!--Contenido-->
				<div id="carruselInicio" class="carousel carousel-dark slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
					  <button type="button" data-bs-target="#carruselInicio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					  <button type="button" data-bs-target="#carruselInicio" data-bs-slide-to="1" aria-label="Slide 2"></button>
					  <button type="button" data-bs-target="#carruselInicio" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active" data-bs-interval="3000">
							<img src="/images/slide1.jpg" class="d-block w-100" alt="Slide 1">
							<div class="carousel-caption d-none d-md-block">
								<p class="slider_txt">La última tendencia en cuidado estético bucal</p>
								<br>
								<button class="btn more_btn4">Agenda tu cita</button>
							</div>
						</div>
						<div class="carousel-item" data-bs-interval="3000">
							<img src="/images/slide2.jpg" class="d-block w-100" alt="Slide 2">
							<div class="carousel-caption d-none d-md-block">
								<p class="slider_txt">Disfrute su nueva sonrisa deslumbrante!</p>
								<br>
								<button class="btn more_btn4">Agenda tu cita</button>
							</div>
						</div>
						<div class="carousel-item" data-bs-interval="3000">
							<img src="/images/slide3.jpg" class="d-block w-100" alt="Slide 3">
							<div class="carousel-caption d-none d-md-block">
								<p class="slider_txt">Realizando milagros de odontología cosmética</p>
								<br>
								<button class="btn more_btn4">Agenda tu cita</button>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carruselInicio" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Proximo</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carruselInicio" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Anterior</span>
					</button>
				</div>

				<div class="container_12">
					<div class="grid_12">
						<div class="wrapper">
							<div class="banner1">
								<p>Blanqueamiento SOLO $80000</p>
								<a href="#" class="link1">Leer más</a>
							</div>
							
							<div class="banner1 v2">
								<p>Implante Dental INFO</p>
								<a href="#" class="link1">Leer más</a>
							</div>
							
							<div class="banner1 v3">
								<p>Guía del Consumidor de Odontología</p>
								<a href="#" class="link1">Leer más</a>
							</div>
						</div>
						
						<div class="wrapper hline2">
							<div class="grid_7 alpha">
								<img src="/images/img_6.jpeg" alt="" class="img1">
								<h3>Bienvenidos!</h3>
								<p><span class="color1">Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span><br><br>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis.</p>
							</div>
							
							<div class="grid_4 prefix_1 omega">
								<div class="box-1">
									<ul class="list1">
										<li><a href="#">Diseño de sonrisas</a></li>
										<li><a href="#">Carillas de Porcelanas</a></li>
										<li><a href="#">Unión de dientes</a></li>
										<li><a href="#">Rellenos</a></li>
										<li><a href="#">Blanqueamiento</a></li>
									</ul>
									<a href="#" class="link2">Más servicios</a>
								</div>
							</div>
						</div>
						
						<div class="wrapper">
							<div class="grid_7 alpha">
								<h2>Las últimas tendencias en cuidado estético bucal</h2>
								<p>Praesent vestibulum molestie lacus. Aenean nonummy. Hendrerit mauris phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</p>
								<ul class="listWithMarker">
									<li><a href="#">Praesent vestibulum molestie lacus</a></li>
									<li><a href="#">Aenean nonummy</a></li>
									<li><a href="#">Hendrerit mauris phasellus porta</a></li>
									<li><a href="#">Fusce suscipit varius mi. Cum sociis natoque</a></li>
									<li><a href="#">Penatibus et magnis dis parturient montes</a></li>
								</ul>
							</div>
							
							<div class="grid_4 prefix_1 omega">
								<div class="box-2">
									<div class="img_container">
										<img src="/images/img_8.jpeg" alt="">
									</div>
									<p>„ Praesent vestibulum molestie lacus. Aenean nonummy. Hendrerit mauris phasellus.“</p>
									<a href="#" class="link3">Mary Hernandez, <span>35 años</span></a>
								</div>
							</div>
						</div>
						<div class="clear">						
						</div>
					</div>
				</div>
			
		<%- include('includes/footer'); %>
		<script type="text/javascript">
			// Validacion de entrada de campos en los form
			var APP = function () {
				return {
					validacionGeneral: function (id, reglas, mensajes) {
						const formulario = $('#'+id);
						formulario.validate({
							rules: reglas,
							messages: mensajes,
							errorElement: 'div',
							errorClass: 'invalid-feedback',
							focusInvalid: false,
							ignore: "",
							highlight: function (element, errorClass, validClass) {
								$(element).addClass('is-invalid');
							},
							unhighlight: function (element) {
								$(element).removeClass('is-invalid');
							},
							success: function (element) {
								$(element).removeClass('is-invalid');
							},
							errorPlacement: function (error, element) {
								if (element.closest('.bootsrap-select').length > 0) {
									element.closest('.bootsrap-select').find('.bs-placeholder').after(error);
								} else if ($(element).is('select') && element.hasClass('select2-hidden-accessible')) {
									element.next().after(error);
								} else {
									error.insertAfter(element);
								}
							},
							invalidHandler: function (event, validator) {

							},
							submitHandler: function (form) {
								return true;
							}
						});
					}
				}
			}();
		</script>
		<script>
            $(document).ready(function () {
                APP.validacionGeneral('frmCita');
            });
        </script>
		<script type="text/javascript">
			$(function(){
				//const miModal = new bootstrap.Modal('#miModal', options)
				$('.btn').on('click',()=>{
					$("#miModal").modal("show");
				})
				
			});
		</script>
	</body>
</html>

<!-- Modal -->
<div class="modal fade" id="miModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="miModalLabel">Cita</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form class="row g-3" action="/guardaCita" method="post" id="frmCita">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
            </div>
            <div class="col-md-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" name="apellido" placeholder="Apellido" required>
            </div>
            <div class="col-md-6">
                <label for="rut" class="form-label">Rut</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="rut" required>
                </div>
            </div>
			<div class="col-md-6">
                <label for="correo" class="form-label">Correo</label>
                <div class="input-group">
                    <input type="email" class="form-control" name="correo" required>
                </div>
            </div>
            <div class="col-md-6">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" name="fecha" required>
            </div>
            <div class="col-md-4">
                <label for="hora" class="form-label">Hora</label>
                <input type="text" class="form-control" name="hora" required>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Crear Cita</button>
        </form>
      </div>
    </div>
  </div>
</div>