<%- include('includes/header2'); %>
<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <%- include('includes/navbar'); %>
        <!-- /.navbar -->
        <!-- Sidebar Menu -->
        
        <%- include('includes/sidebar'); %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <!-- <%- include('includes/mensaje'); %> -->
                </div>
            </section>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="float-left">
                                        <h3 style="color: gray;"><i class="fa fa-users"></i> Usuarios</h3>
                                    </div>
                                    <div class="float-right">
                                        <a href="/registro" 
                                        class="btn btn-outline-primary">
                                            <i class="fa fa-plus-circle"></i> Nuevo Usuario
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table id="example2" class="table table-hover table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Correo</th>
                                                <th>Rol</th>
                                                <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (listado) { %>
                                                <% listado.forEach(function(user){ %>
                                                    <tr>
                                                        <td><%= user.nombre %></td>
                                                        <td><%= user.usuario %></td>
                                                        <td><%= user.rol %></td>
                                                        <td style="text-align:center;">
                                                            <% if (user.activo) { %>
                                                                <span class="badge badge-success">Activo</span>
                                                            <% } else { %>
                                                                <span class="badge badge-danger">Inactivo</span>
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <div class="row">
                                                                <div class="col-auto">
                                                                    <form method="post" action="/editar">
                                                                        <input name="id" type="hidden" value="<%= user.id %>">
                                                                        <button type="submit" class="btn btn-warning btn-sm" title="Editar">
                                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <a href="/delete/?id=<%= user.id %>" class="btn btn-danger btn-sm" title="Borrar">
                                                                    <i class="fa-regular fa-trash-can"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% }); %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div> <!-- /.card-body -->
                            </div> <!-- /.card -->
                        </div>
                    </div> <!-- /.row -->
                </div> <!-- /.container-fluid -->
            </section> <!-- /.content -->
        </div> <!-- /.content-wrapper -->
        <%- include('includes/footer2'); %> 
    </body>
</html>
